/* boton fd6309
fondo fe6306 */
*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #2d2c2c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo{
    width: 7%;
}

.search{
    width: 2%;
    cursor: pointer;
}

.section1{
    background-image: url(assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    
}

.arriba{
    width: 40%;
    padding-left: 7%;
    padding-top: 30%;
}

h1{
    font-size: 150px;
    color: white;
}

.p1{
    font-size: 50px;
    text-align: justify;
    color: lightgray;
}

.b1{
    font-size: 40px;
    color: aliceblue;
    background-color: #fd6309;
    padding: 20px 50px 20px 50px;
    margin-top: 20px;
    transition: transform 0.2s ease;
}

.b1:hover{
    transform: translateY(-3px);
    cursor: pointer;
}

.section2{
    background-color: #fe6306;
    text-align: center;
}

h2{
    font-size: 60px;
    color: aliceblue;
    padding-bottom: 40px;
    padding-top: 60px;
}

.p2{
    font-size: 30px;
    color: lightgray;
    width: 60%;
    margin: 0px 20% 0px 20%;
    padding-bottom: 40px;
}

.contenedor{
    display: flex;
    gap: 10%;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.card{
    background-color: #2d2c2c;
    width: 19%;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover{
    transform: translateY(-5px);
}

.card img{
    width: auto;
    height: 35vh;
    object-fit: cover;
}

.info{
    padding: 16px;
}

.info h3{
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}

.p3{
    color: lightgray;
    padding-top: 10px;
}

.section3{
    background-color: #2d2c2c;
    text-align: center;
}

h4{
    font-size: 60px;
    color: aliceblue;
    padding-bottom: 40px;
    padding-top: 60px;
}

.p4{
    font-size: 30px;
    color: lightgray;
    width: 60%;
    margin: 0px 20% 0px 20%;
    padding-bottom: 40px;
}

.card2{
    background-color: #fe6306;
    width: 19%;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card2:hover{
    transform: translateY(-5px);
}

.badge{
    padding-top: 50px;
}

.info h5{
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}

.p5{
    color: lightgray;
    padding-top: 10px;
    padding-bottom: 20px;
}

.b2{
    background-color: #2d2c2c;
    color: lightgray;
    padding: 15px 110px 15px 110px;
    margin-top: 20px;
    transition: transform 0.2s ease;
    font-size: 20px;
}

.b2:hover{
    transform: translateY(-3px);
    cursor: pointer;
}

footer{
    text-align: center;
    color: lightgray;
    background-color: #fe6306;
    font-size: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media (min-width: 921px) and (max-width: 1279px){
    .section1{
        height: 60vh;
        padding-bottom: 20px;
    }

    h1{
    font-size: 60px;
}

.p1{
    font-size: 20px;
}

.b1{
    font-size: 20px;
    padding: 13px 40px 13px 40px;
    margin-top: 20px;
}

h2{
    font-size: 40px;
}

.p2{
    font-size: 25px;
}

.card img{
    height: 20vh;
}

.info h3{
    font-size: 20px;
}

.p3{
    font-size: 15px;
}

h4{
    font-size: 40px;
}

.p4{
    font-size: 25px;
}

.info h5{
    font-size: 19px;
}

.p5{
    font-size: 15px;
}

.b2{
    padding: 10px 40px 10px 40px;
    font-size: 17px;
}

footer{
    font-size: 19px;
    padding-top: 30px;
    padding-bottom: 30px;
}
}

@media (min-width: 769px) and (max-width: 920px){
    .section1{
        height: 52vh;
    }

    h1{
        font-size: 50px;
    }

    .p1{
        font-size: 18px;
    }

    .b1{
    font-size: 15px;
    padding: 8px 25px 8px 25px;
    margin-top: 15px;
}

h2{
    font-size: 35px;
}

.p2{
    font-size: 20px;
}

.card img{
    height: 16vh;
}

.info h3{
    font-size: 19px;
}

.p3{
    font-size: 13px;
}

h4{
    font-size: 35px;
}

.p4{
    font-size: 20px;
}

.info h5{
    font-size: 16px;
}

.p5{
    font-size: 13px;
}

.b2{
    padding: 10px 30px 10px 30px;
    font-size: 15px;
}

footer{
    font-size: 16px;
    padding-top: 22px;
    padding-bottom: 22px;
}
}

@media (min-width: 481px) and (max-width: 768px){
    .logo{
    width: 10%;
}

.search{
    width: 3%;
}
    
    .section1{
        height: 36vh;
    }

     h1{
        font-size: 35px;
    }

    .p1{
        font-size: 14px;
    }

    .b1{
    font-size: 10px;
    padding: 5px 15px 5px 15px;
    margin-top: 10px;
}
}
    